@model ASPNET_EF.Models.Dictionaries

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dictionaries</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictionaryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictionaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictionaryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictionaryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDefaultDictionary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDefaultDictionary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictionaryLevelValues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictionaryLevelValues.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index">Back to List</a>
    </form>
</div>
