@model ASPNET_EF.Models.Dictionaries

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dictionaries</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictionaryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictionaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictionaryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictionaryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDefaultDictionary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDefaultDictionary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictionaryLevelValues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictionaryLevelValues.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
